<!-- Bio Section -->
<div class="row" id="about" style="padding-top: 40px;">
  <div class="col-md-10">
    <p>Hi there! I am currently a Master's student in Spatial Data Science at the <a href="https://www.usc.edu/", target="_blank">University of Southern California</a>. I earned my Bachelor's degree in Data Science and Big Data Technology from <a href="https://www.muc.edu.cn/" target="_blank">Minzu University of China</a>.</p>

    <p>My research interests revolve around the <strong>explainability</strong> and <strong>interpretability</strong> of <Strong>Large Language Models</Strong>. I'm particularly focused on understanding how these models make decisions and ensuring transparency in their outputs. Beyond that, I'm also passionate about applying AI to solve real-world problems, especially in areas like <strong>traffic systems</strong> and <strong>spatial data science</strong>.</p>

    <p>By blending strong theoretical foundations with real-world applications, I aim to make AI not only smarter but also more understandable and impactful in practical settings.</p>
  </div>
</div>
