<!-- Education Section -->
<div class="row" id="edu">
  <div class="col-md-10">
    <h4>Education</h4>
    <div class="split"></div>
    <ul>
      <li>
        <div class="row" style="padding-top:0%">
          <div class="col-10">
            <strong>University of Southern California</strong>
            <p>
              2022 - 2024,<br>
              <a href="https://viterbischool.usc.edu/" target="_blank">Viterbi School of Engineering</a>
            </p>
          </div>
          <div class="col-2">
            <img src="assets/usc.png" style="height: 4em">
          </div>
        </div>
      </li>
      <li>
        <div class="row" style="padding-top:0%">
          <div class="col-10">
            <strong>Minzu University of China</strong>
            <p>
              2018 - 2022,<br>
              <a href="https://xingong.muc.edu.cn/" target="_blank">School of Information Engineering</a>
            </p>
          </div>
          <div class="col-2">
            <img src="assets/muc.png" style="height: 4em">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
