<!-- News Section -->
<div class="row" id="news" style="padding-top: 0px;">
  <div class="col-md-10">
    <div><strong>📣 News:</strong></div>
    <div>
      <ul>
        <li>发布于 <time datetime="2025-09-27">昨天晚上</time></li>
        <li>[Mar 06, 2024] Releasing Amazon Reviews 2023 dataset <a href="https://amazon-reviews-2023.github.io/" target="_blank">[link]</a>! The new dataset features up-to-date reviews (up to Sep. 2023) and larger sizes (2-3 times larger in #reviews, #items, and #tokens). Check the <a href="https://twitter.com/yupenghou97/status/1765899738279534609">X (twitter) post</a> for more details.</li>
        <!-- <li>[Dec 14, 2023] <a href="https://github.com/RUCAIBox/LLMRank" target="_blank">LLMRank</a></li> -->
        <!-- <li>[Sep 19, 2022] s <i style="color: red;">Best Student Paper Runner-up</i>.</li> -->
      </ul>
    </div>
  </div>
</div>
