<!-- Publications Section -->
<div class="row" id="pub">
  <div class="col-md-10">
    <h4>Publications</h4>
    <div class="split"></div>
    <i style="color: #777777;">† denotes equal contribution</i><br><br>

    <h5>2025</h5>
    <ul>
      <li>
        <p><strong>LMR-BENCH: Evaluating LLM Agent's Ability on Reproducing Language Modeling Research</strong></p>
        <p>Shuo Yan, Ziming Luo, Zimu Wang, Ruochen Li, <strong>Daoyang Li</strong>, Liqiang Jing, Kaiyu He, Peilin Wu, Juntong Ni, George Michalopoulos, Yue Zhang, Ziyang Zhang, Mian Zhang, Zhiyu Chen, Xinya Du</p>
        <p>
          <span>Preprint</span>
        </p>
      </li>
      
      <li>
        <p><strong>Hyperlocal disaster damage assessment using bi-temporal street-view imagery and pre-trained vision models</strong></p>
        <p>Yifan Yang, Lei Zou, Bing Zhou, <strong>Daoyang Li</strong>, Binbin Lin, Joynal Abedin, Mingzheng Yang</p>
        <p>
          <span>Preprint</span>
          [<a href="https://arxiv.org/abs/2504.09066" target="_blank">paper</a>]
          [<a href="#" data-toggle="collapse" data-target="#yang2025hyperlocaldisasterdamageassessment">bib</a>]
          <div id="yang2025hyperlocaldisasterdamageassessment" class="collapse in">
            <br>
            <pre>
@misc{yang2025hyperlocaldisasterdamageassessment,
      title={Hyperlocal disaster damage assessment using bi-temporal street-view imagery and pre-trained vision models}, 
      author={Yifan Yang and Lei Zou and Bing Zhou and Daoyang Li and Binbin Lin and Joynal Abedin and Mingzheng Yang},
      year={2025},
      eprint={2504.09066},
      archivePrefix={arXiv},
      primaryClass={cs.CV},
      url={https://arxiv.org/abs/2504.09066}, 
}
            </pre>
          </div>
        </p>
      </li>
      
      <li>
        <p><strong>Exploring and Mitigating Knowledge Biases in LLMs for Linguistic Uncertainty Interpretation</strong></p>
        <p>Quan Zhang*, <strong>Daoyang Li</strong>*, Xinya Du</p>
      </li>
    </ul>

    <h5>2024</h5>
    <ul>
      <li>
        <p><strong>Exploring Multilingual Probing in Large Language Models: A Cross-Language Analysis</strong></p>
        <p><strong><em>Daoyang Li</em></strong> and Mingyu Jin and Qingcheng Zeng and Haiyan Zhao and Mengnan Du</p>
        <p>
          <span>ACL Workshop</span>
          [<a href="https://arxiv.org/abs/2409.14459" target="_blank">paper</a>]
          [<a href="#" data-toggle="collapse" data-target="#li2024exploringmultilingualprobinglarge">bib</a>]
          <div id="li2024exploringmultilingualprobinglarge" class="collapse in">
            <br>
            <pre>
@misc{li2024exploringmultilingualprobinglarge,
      title={Exploring Multilingual Probing in Large Language Models: A Cross-Language Analysis}, 
      author={Daoyang Li and Mingyu Jin and Qingcheng Zeng and Haiyan Zhao and Mengnan Du},
      year={2024},
      eprint={2409.14459},
      archivePrefix={arXiv},
      primaryClass={cs.CL},
      url={https://arxiv.org/abs/2409.14459} }
            </pre>
          </div>
        </p>
      </li>
      <li>
        <p><strong>GeoLocator: A Location-Integrated Large Multimodal Model (LMM) for Inferring Geo-Privacy</strong></p>
        <p>Yifan Yang, Siqin Wang, <strong><em>Daoyang Li</em></strong>, Shuju Sun, Qingyang Wu</p>
        <p>
          <span>Applied Sciences</span>
          [<a href="https://www.mdpi.com/2076-3417/14/16/7091" target="_blank">paper</a>]
          [<a href="#" data-toggle="collapse" data-target="#Yang_2024">bib</a>]
          <div id="Yang_2024" class="collapse in">
            <br>
            <pre>
@article{Yang_2024,
   title={GeoLocator: A Location-Integrated Large Multimodal Model (LMM) for Inferring Geo-Privacy},
   volume={14},
   ISSN={2076-3417},
   url={http://dx.doi.org/10.3390/app14167091},
   DOI={10.3390/app14167091},
   number={16},
   journal={Applied Sciences},
   publisher={MDPI AG},
   author={Yang, Yifan and Wang, Siqin and Li, Daoyang and Sun, Shuju and Wu, Qingyang},
   year={2024},
   month=aug, pages={7091} }
            </pre>
          </div>
        </p>
      </li>
    </ul>
  </div>
</div>
