<div class="row" id="service">
  <div class="col-md-10">
    <h4>Service</h4>
    <div class="split"></div>
    <ul>
      <li>Web Chair @ <a href="https://dsaa2024.dsaa.co/" target="_blank">DSAA 2024</a></li>
      <li>Co-organizing <a href="https://sites.google.com/view/pgai2023" target="_blank">Personalized Generative AI</a> @ CIKM 2023.</li>
      <li><strong>Program Committee / Conference Reviewer:</strong> ICML <i style="font-size: small;">(2024)</i>, ICLR <i style="font-size: small;">(2024-2025)</i>, NeurIPS <i style="font-size: small;">(2023-2024)</i>, KDD <i style="font-size: small;">(2022-2025)</i>, WWW <i style="font-size: small;">(2024-2025)</i>, SIGIR <i style="font-size: small;">(2023-2024)</i>, RecSys <i style="font-size: small;">(2023-2024)</i>, AAAI <i style="font-size: small;">(2023-2025)</i>, CIKM <i style="font-size: small;">(2024)</i>, SDM <i style="font-size: small;">(2024)</i>, LoG <i style="font-size: small;">(2022-2024)</i>, SIGIR-AP <i style="font-size: small;">(2023-2024)</i>, EMNLP <i style="font-size: small;">(2023)</i>, ECML-PKDD <i style="font-size: small;">(2022-2023)</i>, WSDM <i style="font-size: small;">(2022)</i>, and <a href="#" data-toggle="collapse" data-target="#workshop_reviewer">Workshops</a>.</li>
      <div id="workshop_reviewer" class="collapse in"><a href="https://genai-personalization.github.io/GenAIRecP2024" target="_blank">GenAIRecP</a> @ KDD 2024, <a href="https://sites.google.com/view/pgai2023" target="_blank">PGAI</a> @ CIKM 2023</div>
      <li><strong>Journal Reviewer:</strong> TKDE, TOIS, TORS, TKDD, IPM, TALLIP.
    </ul>
  </div>
</div>
