<!--   teaching -->
<div class="row" id="teaching">
  <div class="col-md-10">
    <h4>Teaching</h4>
    <div class="split"></div>
    <ul>
      <li>
        <strong>Teaching Assistant, University of California, San Diego</strong>
        <ul>
          <li>2024 Fall, <a href="https://cseweb.ucsd.edu/classes/fa24/cse258-b/" target="_blank">CSE 258: Web Mining and Recommender Systems</a>, with Julian McAuley.</li>
        </ul>
      </li>
      <li>
        <strong>Teaching Assistant, Renmin University of China</strong>
        <ul>
          <li>2020, 2021 Summer, Programming Training, with Wayne Xin Zhao. <br>
            [<a href="https://github.com/Menci/SummerProgrammingPractice2020" target="_blank">Project Page 2020</a>]
            [<a href="https://github.com/hyp1231/search_demo" target="_blank">Search Demo for 2021</a>]
            [<a href="https://github.com/hyp1231/IR-evaluator" target="_blank">IR Evaluator for 2021</a>]
          </li>
          <li>2018-2019 Fall, Introduction to Computer System, with Yunpeng Chai.</li>
          <li>2018 Summer, Programming Training, with Feng Zhang.</li>
          <li>2017-2018 Fall, Advanced Programming, with Wayne Xin Zhao.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
